<p><strong> Bookmarks </strong></p>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= link_to bookmark.name, bookmark_path(bookmark) %></li>
    <li class="list-group-item"><%= bookmark.comment %></li>
  <% end %>
</ul>
<br>
